[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
flask = "*"
flask-restful = "*"
gunicorn = "*"
celery = "*"
requests = "*"
werkzeug = "*"
flask-httpauth = "*"

[requires]
python_version = "3.8"
